
/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Bright Blue: hsl(220, 98%, 61%)
- Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

### Neutral

### Light Theme

- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%)

### Dark Theme

- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 400, 700 */

:root{
    --very-dark-blue: hsl(235, 21%, 11%);
}


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background: black;
    background-image: url('./images/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    color:white;
    width:100%;
}

.container{
    width:500px;
    max-width:100%;
    text-align: center;
    margin:0 auto;
}

h1{
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 5px;
    font-size: 400;
    
}

#title-section{
    display:flex;
    margin-top: 150px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.text-section{
    margin-top:20px;
    background-color: var(--very-dark-blue);
    padding:20px 15px;
    display:flex;
    justify-content: space-between;
    border-radius:10px;
   
}

#submit{
    width:17px;
    height:19px;
    border-radius: 50%;
}

input[type="text"]{
    width:90%;
    outline: none;
    border: 0;
    color:white;
    background-color:var(--very-dark-blue) ;
}

.container-mylist{
    width:500px;
    background-color: var(--very-dark-blue);
    border-radius:10px;
    
}

.mylist{
    border-bottom: 1px solid  hsl(234, 11%, 52%);
    margin-bottom:0px;
    width:500px;
    max-width:100%;
    text-align: center;
    margin:0 auto;
    display:flex;
    flex-direction: row; 
    margin-top:20px;
    padding:10px 15px;
    background-color:var(--very-dark-blue);
    color: hsl(234, 11%, 52%);
    justify-content: space-between;
   
}

/* .delete img{
    display:flex;
    justify-content: flex-start;
} */


#bottom-section{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px 15px;
    background-color: var(--very-dark-blue);
}

.status{
    display:flex;
    flex-direction: row;
}

.status p{
    margin-left:10px;
}

.last-para{
    margin-top:70px;
}

.toggler{
    align-self: center;
    cursor:grabbing;
}

.toggler:hover{
    transform: scale(1.2);
}